{% layout 'cathat' %}
<div id="app">
    <div class="container-fluid billboard-a" id="billboard">
      <div class="container">
        <div class="row" id="oldBanner">
          <div class="col-12 col-lg-6 align-self-center order-2 order-lg-1">
            <h1 class="text-left">
              Paws Down,<br>Cat Hat is The World’s<br>Best & Easiest<br>Pet-Calming Device
            </h1>
            <div class="text-left">
              <a href="#"
                class="align-items-center cta-btn d-none d-sm-flex font-weight-bold justify-content-center text-uppercase">Order
                Now</a> <a href="#"
                class="align-items-center cta-btn d-flex d-sm-none font-weight-bold justify-content-center text-uppercase">Order
                Now</a> <span class="belowbtn d-block mt-2">Free Delivery, Risk-Free Guarantee.</span>
            </div>
          </div>
          <div class="col-12 col-lg-6 bg-box order-1 order-lg-2"></div>
        </div>
      </div>
    </div>
    <div id="smell" class="container pt-5 pb-0 pb-sm-5 mt-3 mb-0 mb-sm-3">
      <h2 class="container-title text-center text-uppercase mb-3 d-block w-100" id="headline1">
        SAY GOODBYE TO STRESSFUL & EXPENSIVE CAT GROOMINGS
      </h2>
      <h3 class="container-subtitle text-center mb-5">
        Cat Hat is a must-have calming and grooming device for your feline friend. It offers the best protection
        for you and helps calm anxious pets.
      </h3>
      <div class="row">
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center justify-content-center">
          <div class="d-block d-sm-none ul-title text-center text-uppercase mb-4">
            Easier Cat Care
          </div>
          <ul class="care mx-0">
            <div class="d-none d-sm-block ul-title text-left text-uppercase mb-4">
              Easier Cat Care
            </div>
            <li>
              <div class="image-element__wrap mx-auto mx-sm-0 mr-sm-2 d-block
                            d-sm-inline-block" style=" max-width: 56px;"> <img alt="Refill
                            once a month" class="mx-auto mx-sm-0 mr-sm-2 d-block
                            d-sm-inline-block" src="{{ 'hp_sparklebox_56x.png' | asset_img_url: '56x' }}" /></div>
              Cat-calming device
            </li>
            <li>
              <div class="image-element__wrap mx-auto mx-sm-0 mr-sm-2 d-block d-sm-inline-block"
                style=" max-width: 56px;"> <img alt="Refill
                            once a month" class="mx-auto mx-sm-0 mr-sm-2 d-block
                            d-sm-inline-block" src="{{ 'hp_scooper_56x.png' | asset_img_url: '56x' }}" /></div>
              Groomings at home
            </li>
            <li>
              <div class="image-element__wrap mx-auto mx-sm-0 mr-sm-2 d-block
                            d-sm-inline-block" style=" max-width: 56px;"> <img alt="Refill
                            once a month" class="mx-auto mx-sm-0 mr-sm-2 d-block
                            d-sm-inline-block" src="{{ 'hp_leaf_56x.png' | asset_img_url: '56x' }}" /></div>
              Reusable & durable
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-8 px-0">
          <div class="image-element__wrap"> <img alt="Easier cat care" src="{{ 'about-img.jpg' | asset_img_url:"master" }}" /></div>
        </div>
      </div>
    </div>
    <div id="health" class="container pt-5 pb-0 pb-sm-5 my-3">
      <div class="headingArea">
        <h2 class="container-title text-center text-uppercase mb-3 d-block w-100">
          CAT HAT IS BETTER THAN TRADITIONAL RESTRAINING DEVICES
        </h2>
        <h3 class="container-subtitle text-center mb-5 d-block w-100">
          Unlike ordinary muzzles or cat restraints, Cat Hat patented design offers an unprecedented level of
          bite protection and gives ample space for cat whiskers. It secures your cat’s head and reduces stress
          by controlling their vision to give them comfort. Cat Hat is the perfect solution to calm your furry
          friend.
        </h3>
      </div>
      <div class="row">
        <div class="col-12 col-sm-7 order-0 mb-4 mb-sm-5 px-0 px-sm-4">
          <div class="ba-slider twentytwenty-container" id="ba-slider">
            <img src="{{ 'product1.jpg' | asset_img_url:"master" }}" />
            <img src="{{ 'product2.jpg' | asset_img_url:"master" }}" />
            <div class="image-element__wrap"><img src="{{ 'product1.jpg' | asset_img_url:"master" }}" /></div>
            <div class="image-element__wrap"><img src="{{ 'product2.jpg' | asset_img_url:"master" }}" /></div>
          </div>
        </div>
        <div class="col-12 col-sm-5 align-self-center order-12 order-sm-1 mt-4 mt-sm-0">
          <p class="font-weight-bold">
            No Fuss No Muss
          </p>
          <p>
            Cat Hat’s innovative design means your cat can stay calm and happy when you groom or trim your
            kitty’s nails. Each vet visit to trim your cat’s nails can cost you over $30 a pop. Your Cat Hat
            can pay for itself after a few uses. Now you can safely and conveniently groom your cat in the
            comfort of your own home. Plus, our free delivery ships the Cat Hat to your door, making life
            easier while having the confidence that both you and your kitty will be calm, safe and happy.
          </p>
        </div>
        <div class="col-12 order-1 mt-2 mb-5">
          <h2 class="container-title text-center text-uppercase d-block w-100 mb-0">
            Cat Hat Features
          </h2>
        </div>
        <div class="col-12 col-sm-3 order-2 health-section">
          <div class="image-element__wrap mx-0 fiftypx d-inline-block d-sm-block" style=" max-width: 50px;">
            <img alt="Alkaline
                         indicator" class="mx-0 fiftypx d-inline-block d-sm-block"
              src="{{ 'hp_alkaline_gfx_50x.png' | asset_img_url:"50x" }}" />
          </div>
          <p class="health-title text-">Easy to Use</p>
          <p class="health-blurb">
            Simply slide the patented Cat Hat fabric collar on your cat’s head to reduce bite-risk during
            grooming.
          </p>
        </div>
        <div class="col-12 col-sm-3 order-3 health-section">
          <div class="image-element__wrap mx-0 fiftypx d-inline-block d-sm-block" style=" max-width: 50px;">
            <img alt="Acidity
                         indicator" class="mx-0 fiftypx d-inline-block d-sm-block"
              src="{{ 'hp_alkaline_gfx_50x.png' | asset_img_url:"50x" }}" />
          </div>
          <p class="health-title text-">Patented & Effective Design</p>
          <p class="health-blurb">
            The patented Cat Hat opaque design blocks the perfect amount of vision to keep your cat calm
          </p>
        </div>
        <div class="d-none d-sm-block col-12 col-sm-3 order-4 health-section">
          <div class="image-element__wrap mx-0 fiftypx d-inline-block d-sm-block" style=" max-width: 50px;">
            <img alt="Typical
                         color indicator" src="{{ 'hp_alkaline_gfx_50x.png' | asset_img_url:"50x" }}" />
          </div>
          <p class="health-title text-">Soft Velcro Collar</p>
          <p class="health-blurb">
            The collar is soft and secure and will fit your cat comfortably while the velcro will keep it
            securely fit
          </p>
        </div>
        <div class="col-12 col-sm-3 order-5 health-section">
          <div class="image-element__wrap mx-0 fiftypx d-inline-block d-sm-block" style=" max-width: 50px;">
            <img alt="Blood
                         indicator" class="mx-0 fiftypx d-inline-block d-sm-block"
              src="{{ 'hp_alkaline_gfx_50x.png' | asset_img_url:"50x" }}" />
          </div>
          <p class="health-title text-">Removable Opaque Lid</p>
          <p class="health-blurb">
            The patented open design opaque lid gives the option for more sensitive
            cats who need less stimulation by blocking even more vision by using
            face plate lid.
          </p>
        </div>
      </div>
    </div>
    <div id="review" class="container px-0 px-sm-3 pb-0 pb-sm-5 pt-2 pt-sm-5 mb-0 mb-sm-3 mt-3">
      <div class="row">
        <div class="col-12 col-sm-4">
          <span class="wistia_embed wistia_async_vvdyawt2dw popover=true popoverContent=link"
            style="display: inline; position: relative;">
            <a href="#">
              <div class="image-element__wrap"><img alt="Color changing video" src="{{ 'Danielle.jpg' | asset_img_url:"master" }}" />
              </div>
            </a>
          </span>
        </div>
        <div
          class="col-12 col-sm-8 review d-flex align-items-center justify-content-center text-center text-sm-left px-3 px-sm-5">
          <div class="row w-100 mt-5 mt-sm-0 w-sm-75">
            <div class="col-12">
              <div class="image-element__wrap mx-auto mx-sm-0" style="max-width: 66px;"> <img
                  src="{{ 'hp_review_avatar_66x.png' | asset_img_url:"66x" }}" alt="Cat Hat review" class="mx-auto mx-sm-0" />
              </div>
            </div>
            <div class="col-12 my-3 d-flex d-sm-none justify-content-center justify-content-sm-start"> <span
                class="review-name">Denise A.</span> <i class="fas fa-star ml-3"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div class="col-12 my-3 d-none d-sm-flex justify-content-center justify-content-sm-start"> <span
                class="review-name"> -Danielle D.</span> <i class="fas fa-star ml-3"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div class="col-12">
              <p class="review-blurb d-flex d-sm-none">
                Your litter was the ONLY thing that alerted me that anything was
                wrong. Thankfully it was caught early enough.
              </p>
              <p class="review-blurb d-none d-sm-flex">
                Thank goodness for Cat Hat! I’ve been trying to find a solution forever so that I can trim my
                cat’s nails at home! It’s so easy to use and my kitty is calm and happy the whole time!
              </p>
            </div>
            <div class="col-12"> <a href="#"
                class="align-items-center cta-btn d-flex font-weight-bold justify-content-center my-3 mx-auto mx-sm-0 text-uppercase">Order
                Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="howitworks" class="container mt-0 mt-sm-3 mb-1 pt-3 pt-sm-5 pb-5">
      <h2 class="container-title text-center text-uppercase mb-5 d-block w-100">
        Trim your Cat’s Nails in 3 Easy Steps!
      </h2>
      <div class="hiw-carousel">
        <div class="carousel-cell">
          <div class="image-element__wrap"> <img alt="Choose # of  Cats" src="{{ 'benifits1.png' | asset_img_url:"master" }}" /></div>
          <p class="text-center">
            Place the Cat Hat on your cat’s head. The opacity of the device helps reduce their vision and their
            stress.
          </p>
        </div>
        <div class="carousel-cell">
          <div class="image-element__wrap"><img alt="Choose # of  Cats" src="{{ 'benifits2.png' | asset_img_url:"master" }}" /></div>
          <p class="text-center">
            Secure the velcro strap to prevent your cat from taking off the device. Use the optional face plate
            lid for even more coverage.
          </p>
        </div>
        <div class="carousel-cell">
          <div class="image-element__wrap"><img alt="Choose # of  Cats" src="{{ 'benifits3.png' | asset_img_url:"master" }}" /></div>
          <p class="text-center">
            Now safely groom and trim your kitty’s nails bite and hassle-free! Yipee!
          </p>
        </div>
      </div>
      <a href="#"
        class="align-items-center cta-btn d-none d-sm-flex font-weight-bold justify-content-center my-3 mx-auto text-uppercase">Try
        Now</a> <a href="#"
        class="align-items-center cta-btn d-flex d-sm-none font-weight-bold justify-content-center my-3 mx-auto mx-sm-0 text-uppercase">Get
        Cat Hat</a>
    </div>
    <div id="assurances" class="container-fluid pb-5 pb-sm-4 pt-4 mt-0 my-sm-3">
      <div class="row">
        <div class="col-4 assurance shipping text-center">
          <div class="assurance-img"> <img src="{{ 'hp_truck_30x@2x.png' | asset_img_url:"30x2" }}" class="truck" /></div>
          <span class="assurance-blurb">
            Free Shipping<span class="d-inline-block d-sm-none">*</span></span>
        </div>
        <div class="col-4 assurance text-center">
          <div class="assurance-img"> <img src="{{ 'hp_ribbon_30x@2x.png' | asset_img_url:"30x2" }}" class="ribbon" /></div>
          <span class="assurance-blurb">30-Day Risk Free Guarantee</span>
        </div>
        <div class="col-4 assurance text-center">
          <div class="assurance-img"> <img src="{{ 'warranty.png' | asset_img_url:"master" }}" class="clock" /></div>
          <span class="assurance-blurb">1 Year <span class="mobile-br"></span>Warranty</span>
        </div>
      </div>
    </div>
    <div id="savesmoney" class="container pt-5 pb-0 mt-3 mb-0">
      <div class="row">
        <div class="col-12 col-sm-6 align-self-center">
          <h2 class="container-title text-center text-uppercase mb-3">
            SAVES MONEY $$$
          </h2>
          <h3 class="container-subtitle text-center mb-5 w-100 w-sm-75 mx-auto">
            Using Cat Hat in the safety and comfort of your home for grooming and nail trimmings, will save you
            time and money on potential vet visits. The best part is, it will pay for itself after a few uses!
          </h3>
          <div class="row"></div>
          <div class="col-12"> <a href="#"
              class="align-items-center cta-btn d-flex font-weight-bold justify-content-center mx-auto my-3 text-uppercase">Try
              Now</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-5 mt-sm-0">
          <div class="image-element__wrap"><img src="{{ 'price_comparison_2020_600x.progressive.jpg' | asset_img_url:"master" }}"></div>
          <span class="study d-block text-center text-uppercase">COMPARABLE PRICE OF CAT DEVICES <i
              class="far fa-info-circle tippy"></i></span>
        </div>
      </div>
    </div>
    <div class="saveMoneyTime container pt-5 pb-5 mt-5 mb-0">
      <h2 class="container-title text-center text-uppercase pb-5">
        Save Time & Money!
      </h2>
      <div class="row align-items-center">
        <div class="col-12 col-md-3">
          <div class="imgBox">
            <div class="imgBoxInr">
              <img src="{{ 'cathat1.png' | asset_img_url:"master" }}" alt="cathat1">
            </div>
            <p class="text-center container-title versus">
              Cat Hat: <span>$73.99</span>
            </p>
          </div>
        </div>
        <!--  -->
        <div class="col-12 col-md-2 col-lg-1 mb-5 md-md-0 text-center">
          <p class="versus">VS</p>
        </div>
        <div class="col-12 col-md-7 col-lg-8">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="imgBox">
                <div class="imgBoxInr">
                  <img src="{{ 'cathat2.png' | asset_img_url:"master" }}" alt="cathat2">
                </div>
                <p class="text-center container-title">
                  Vet Visit 1: <span>$30</span>
                </p>
              </div>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
              <div class="imgBox">
                <div class="imgBoxInr">
                  <img src="{{ 'cathat2.png' | asset_img_url:"master" }}" alt="cathat2">
                </div>
                <p class="text-center container-title">
                  Vet Visit 2: <span>$30</span>
                </p>
              </div>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
              <div class="imgBox">
                <div class="imgBoxInr">
                  <img src="{{ 'cathat2.png' | asset_img_url:"master" }}" alt="cathat2">
                </div>
                <p class="text-center container-title">
                  Vet Visit 3 & More: <span>$30 & Beyond</span>
                </p>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
    <div id="social" class="container-fluid mb-3 mt-0 mt-sm-3 pt-5">
      <h2 class="container-title text-center text-uppercase mb-3">
        Everyone's Talking About Cat Hat
      </h2>
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center mb-5"> <i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> <i
            class="fas fa-star mr-3"></i> <a href="/pages/reviews" class="reviews-link">11,000 Reviews</a>
        </div>
      </div>
      <div class="row">
        <div class="d-none d-sm-block col-12 col-sm-5">
          <div class="main-quote d-flex flex-column justify-content-center align-content-center w-75 mx-auto pt-5">
            <p>"I’m a cat groomer and this is a must-have for me. It helps me groom quicker and the best part
              is I’m scratch-free"
            </p>
            <span class="name d-block text-uppercase">G. Gregory</span> <span class="location d-block">Angier,
              N.C.</span> <a href="/pages/reviews" class="reviews-link mt-5">See more reviews</a>
          </div>
        </div>
        <div class="col-12 col-sm-7 pb-5">
          <div class="social-carousel">
            <div class="carousel-cell">
              <div class="review-card">
                <div class="image-element__wrap " style=" max-width: 140px;"> <img alt="Review - Sarah L."
                    src="{{ 'hp_social_av_3_140x.png' | asset_img_url:"140x" }}" /></div>
                <p>
                  I started using Cat Hat a few months ago,
                  and I’ll never go back to my vet to pay for
                  them to trim my kitty’s nails when I now
                  can do it myself thanks to Cat Hat!
                </p>
                <div class="divider"></div>
                <div class="review-name">Sarah L.</div>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                  class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="review-card">
                <div class="image-element__wrap " style=" max-width: 140px;"> <img alt="Review - Emily H."
                    src="{{ 'hp_social_av_4_140x.png' | asset_img_url:"140x" }}" /></div>
                <p>
                  The
                  best part about the Cat Hat is that I don’t
                  have to be scared about getting scratches
                  or bites from my cat. It’s a total life saver!
                  #CatHatForLife
                </p>
                <div class="divider"></div>
                <div class="review-name">Emily H.</div>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                  class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="review-card">
                <div class="image-element__wrap " style=" max-width: 140px;"> <img alt="Review - Jayden A."
                    src="{{ 'hp_social_av_1_140x.png' | asset_img_url:"140x" }}" /></div>
                <p>
                  I’m so
                  glad I found Cat Hat and it is such a
                  great buy. I’m able to calm my cat with
                  this incredible product while also saving
                  more money with each use
                </p>
                <div class="divider"></div>
                <div class="review-name">Jayden A.</div>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                  class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="review-card">
                <div class="image-element__wrap " style=" max-width: 140px;"> <img alt="Review - Sammy N."
                    src="{{ 'hp_social_av_2_140x.png' | asset_img_url:"140x" }}" /></div>
                <p>
                  This actually works! This is the best
                  purchase I’ve made for my cats. I have 3
                  cats and after owning a Cat Hat, it’s been
                  such a breeze to be able to groom my
                  cats without having to wrap my cats with
                  a towel or muzzles that don’t work.
                </p>
                <div class="divider"></div>
                <div class="review-name">Sammy N.</div>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                  class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="seal" class="container my-3 pb-0 pb-sm-5 pt-5">
      <h2 class="container-title text-center text-uppercase mb-5">
        Veterinarian seal of approval
      </h2>
      <div class="row">
        <div class="col-12 col-sm-5">
          <div class="image-element__wrap " style=" max-width: px;"> <img alt="Dr. Helen Douglas"
              src="{{ 'Helen.jpg' | asset_img_url:"master" }}" /></div>
          <p class="title text-center mt-3 mb-1 mx-auto">
            Dr. Helen Douglas
          </p>
          <p class="description text-center my-0 mx-auto w-75">
            Cat Hat Inventor & Veterinarian
          </p>
        </div>
        <div class="col-12 col-sm-7 d-flex flex-column align-self-center p-3 p-sm-5">
          <p> <span class="d-none d-sm-block">“After several years struggling with a lot of devices, we were
              still getting hurt all the time and I thought there must be a better solution. So I came up with
              Cat Hat to keep your cat calm during stressful situations. My belief is that everyone that has a
              cat needs a Cat Hat.”</span> <span class="d-block d-sm-none">“After several years struggling
              with a lot of devices, we were still getting hurt all the time and I thought there must be a
              better solution. So I came up with Cat Hat to keep your cat calm during stressful situations. My
              belief is that everyone that has a cat needs a Cat Hat.”</span>
          </p>
          <a href="#"
            class="align-items-center cta-btn font-weight-bold justify-content-center my-3 d-none d-sm-flex mx-auto mx-sm-0 text-uppercase">Get
            Cat Hat</a>
        </div>
      </div>
    </div>
    <div id="better" class="container py-4 my-3 mb-5">
      <h2 class="container-title text-center text-uppercase d-none d-sm-block">
        WHY IS THIS CAT HAT BETTER?
      </h2>
      <h2 class="container-title text-center text-uppercase d-block d-sm-none mb-5">
        WHY IS THIS CAT HAT BETTER?
      </h2>
      <div class="row">
        <div class="col-12 col-sm-4 why">
          <div class="image-element__wrap"><img alt="Advanced odor control" src="{{ 'better1.png' | asset_img_url:"master" }}" /></div>
          <h3 class="why-title text-center">
            No More Restrictions
          </h3>
          <p class="text-center">
            No More Flimsy Muzzles Or Wrapping Your Cats In Towels That Don’t Work, Causing You And Your Cats
            Stress And Anxiety
          </p>
        </div>
        <div class="col-12 col-sm-4 why">
          <div class="image-element__wrap"><img alt="Advanced odor control" src="{{ 'better2.png' | asset_img_url:"master" }}" /></div>
          <h3 class="why-title text-center">
            Better Breathing Space
          </h3>
          <p class="text-center">
            The Patented Design And Material Allows Your Cat To Breathe Comfortably And Not Feel Trapped In
          </p>
        </div>
        <div class="col-12 col-sm-4 why">
          <div class="image-element__wrap"><img alt="Advanced odor control" src="{{ 'better3.png' | asset_img_url:"master" }}" /></div>
          <h3 class="why-title text-center">
            Groom Conveniently At Home
          </h3>
          <p class="text-center">
            Never Need To Leave Your Home To Do Simple Grooming Or Care For Your Cat
          </p>
        </div>
      </div>
    </div>
    <div id="prettyplease" class="container-fluid prettyplease mb-3 py-5">
      <div class="row">
        <div class="col-12 col-md-6 align-self-center">
          <h2>The Cat Hat Promise</h2>
          <p>
            We’re here to take some stress out of cat grooming, so you can focus on what you love most —
            spending quality time playing with each other or just watch more funny cat videos!
          </p>
          <div class="moenyBack py-4">
            <img src="{{ 'moneyBack.png' | asset_img_url:"master" }}" alt="moneyBack">
            <p class="pt-3">100% money back guarantee</p>
          </div>
          <p><a href="#">Get Started →</a></p>
        </div>
        <div class="col-12 col-md-5 offset-md-1 align-self-center">
          <div class="image-element__wrap"><img alt="The Cat Hat Promise" src="{{ 'Promise.jpg' | asset_img_url:"master" }}" /></div>
        </div>
      </div>
    </div>
    <div id="getstarted" class="container-fluid mt-3 pt-5 pb-0 pb-sm-0">
      <h2 class="container-title text-center text-uppercase mb-0 mb-sm-5">
        Let's Get Started
      </h2>
      <div class="row">
        <div
          class="col-12 col-lg-5 d-flex flex-column align-items-center justify-content-center grey-bg pt-1 pt-sm-5 px-5 pb-5">
          <h3 class="text-center">How many cat friends<br>do you want to get these for?</h3>
          <div class="cat-option align-items-center selected rounded cup row" id="cats1" data-cats="1">
            <div class="col-6 px-0">
              <div class="image-element__wrap" style=" max-width: 74px;"> <img alt="Choose 1 cat"
                  src="{{ 'hp_1cat_74x.png' | asset_img_url:"74x" }}" /></div>
            </div>
            <div class="col-6"> <span class="cats-no text-uppercase">1 Cat hat</span> <span
                class="cats-price">$73.99</span></div>
            <div class="checkmark"> <i class="far fa-check"></i></div>
          </div>
          <div class="cat-option align-items-center rounded cup row" id="cats2" data-cats="2">
            <div class="col-6 px-0">
              <div class="image-element__wrap" style=" max-width:140px;"> <img alt="Choose 2 cat"
                  src="{{ 'hp_2cat_100x.png' | asset_img_url:"140x" }}" /></div>
            </div>
            <div class="col-6"> <span class="cats-no text-uppercase">2 Cat hats</span> <span
                class="cats-price">$145.98 <span>(save $20)</span></span></div>
            <div class="checkmark"> <i class="far fa-check"></i></div>
          </div>
          <div class="cat-option align-items-center rounded cup row" id="cats3" data-cats="3">
            <div class="col-6 px-0">
              <div class="image-element__wrap" style=" max-width:140px;"> <img alt="Choose 3 cat"
                  src="{{ 'hp_3cat_120x.png' | asset_img_url:"140x" }}" /></div>
            </div>
            <div class="col-6"> <span class="cats-no text-uppercase">3 Cat hats</span> <span
                class="cats-price">$191.97 <span>(save $30)</span></span></div>
            <div class="checkmark"> <i class="far fa-check"></i></div>
          </div>
          <div class="row">
            <div class="col-12 py-3 text-center"> <a href="#" class="morecats">More than 3 cats?</span></div>
          </div>
          <a href="#" id="getstartedLink"
            class="align-items-center cta-btn d-flex font-weight-bold justify-content-center my-3 text-uppercase">Get
            Started</a>
        </div>
        <div class="d-none d-sm-block col-12 col-lg-7 px-0">
          <div class="image-element__wrap imgfix"><img alt="Advanced odor control" class="imgfix"
              src="{{ 'hp_colorchange_bg_800x.progressive.jpg' | asset_img_url:"800x" }}" /></div>
        </div>
      </div>
    </div>
    <div id="riskfree" class="container-fluid riskfree my-3 py-5">
      <div>
        <p>
          If for any reason you’re not completely satisfied, just return within 30
          days and we’ll issue a full refund. <span><a href="#">[Learn More]</a></span>
        </p>
        <a href="#" id="getstartedLink"
          class="riskfreebtn align-items-center cta-btn d-flex font-weight-bold justify-content-center my-3 mx-auto text-uppercase">Try
          Risk Free</a>
      </div>
    </div>
    <div id="riskfree2" class="container-fluid riskfree2 mb-3 py-5">
      <div class="row">
        <div class="col-12">
          <div class="image-element__wrap " style=" max-width: 186px;"> <img alt="Risk free guarantee"
              src="{{ 'risk_free_badge@2x.png' | asset_img_url:"master" }}" /></div>
          <h2>Try Cat Hat Risk-Free for 30 days</h2>
          <p>
            If for any reason you’re not completely satisfied, just return within 30 days and we’ll issue a
            full refund.* <span><a href="#">[Learn More]</a></span>
          </p>
          <a href="#" id="getstartedLink"
            class="riskfreebtn align-items-center cta-btn d-flex font-weight-bold justify-content-center my-3 mx-auto text-uppercase">Get
            Started</a>
        </div>
      </div>
    </div>
    <div id="riskfree3" class="container-fluid riskfree3 py-5">
      <div class="squiggle1"> <img src="{{ 'squiggle1.png' | asset_img_url:"master" }}" /></div>
      <div class="squiggle2"> <img src="{{ 'squiggle2.png' | asset_img_url:"master" }}" /></div>
      <div class="row">
        <div class="col-12">
          <div class="image-element__wrap " style=" max-width: 186px;"> <img alt="Risk free guarantee"
              src="{{ 'risk_free_badge@2x.png' | asset_img_url:"master" }}" /></div>
          <h2>Try Cat Hat Risk-Free for 30 days</h2>
          <p>
            If for any reason you’re not completely satisfied, just return within 30 days and we’ll issue a
            full refund.* <span><a href="#">[Learn More]</a></span>
          </p>
          <a href="#" id="getstartedLink"
            class="riskfreebtn align-items-center cta-btn d-flex font-weight-bold justify-content-center my-3 mx-auto text-uppercase">Get
            Started</a>
        </div>
      </div>
    </div>
    <div class="container" id="totop">
      <div class="row">
        <div class="col-12 backtotop text-center pb-3 d-block"> <a>Back to top <i class="fal fa-arrow-to-top"></i></a>
        </div>
      </div>
    </div>
  </div>
{%- comment -%}
{{ content_for_index }}
{%- endcomment -%}
